<a href="https://colab.research.google.com/github/ChetanKnowIt/pyspark-colab/blob/main/spark_3_RDD_Persistence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=4daa4d63bca92fbcd6c47a8138a03dfbd96306de4bed79ac6fdef127e2deb589
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master("local[4]")\
.appName("chetan")\
.getOrCreate()

In [ ]:
sc = spark.sparkContext

In [ ]:
df = spark.read.option("header",True).csv("student.csv")

In [ ]:
df_cache = df.cache()# Default storage location is MEMORY_ONLY

In [ ]:
df_cache.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+

In [ ]:
df_persist = df.persist() # Default storage location is MEMORY_AND_DISK

In [ ]:
df_persist.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+

In [ ]:
df_persist.unpersist()

DataFrame[roll: string, name: string, class: string, marks: string, age: string]

In [ ]:
df_persist.show()

+----+-------+-----+-----+---+
|roll|   name|class|marks|age|
+----+-------+-----+-----+---+
|   1|   anil|   TE|56.77| 22|
|   2|   amit|   TE|59.77| 21|
|   3| aniket|   BE|76.88| 19|
|   4|ajinkya|   TE|69.66| 20|
|   5|   asha|   TE|63.28| 20|
|   6| ayesha|   BE|49.55| 20|
|   7|   amar|   BE|65.34| 19|
|   8|  amita|   BE|68.33| 23|
|   9|   amol|   TE|56.75| 20|
|  10|  anmol|   BE|78.66| 21|
+----+-------+-----+-----+---+